#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#StyleCop
*.StyleCop

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.sass-cache

#Project files
[Bb]uild/
[Ee]xe/

#Subversion files
.svn

# Office Temp Files
~$*

# vim Temp Files
*~

#NuGet
packages/
*.nupkg

#ncrunch
*ncrunch*
*crunch*.local.xml

# visual studio database projects
*.dbmdl

#Test files
*.testsettings
lib/ImsInformed/System.Data.SQLite.dll
lib/ImsInformed/System.Data.SQLite.xml
lib/ImsInformed/UIMFLibrary.dll
lib/ImsInformed/UIMFLibrary.pdb
lib/ImsInformed/x64/SQLite.Interop.dll
lib/ImsInformed/x86/SQLite.Interop.dll
lib/ImsInformed/MathNet.Numerics.xml
lib/ImsInformed/QuickGraph.Data.dll
lib/ImsInformed/QuickGraph.Data.xml
lib/ImsInformed/QuickGraph.Graphviz.dll
lib/ImsInformed/QuickGraph.Graphviz.xml
lib/ImsInformed/QuickGraph.Serialization.dll
lib/ImsInformed/QuickGraph.Serialization.xml
lib/ImsInformed/QuickGraph.dll
lib/ImsInformed/QuickGraph.xml
