#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#StyleCop
*.StyleCop

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.sass-cache

#Project files
[Bb]uild/
[Ee]xe/

#Subversion files
.svn

# Office Temp Files
~$*

# vim Temp Files
*~

#NuGet
packages/
*.nupkg

#ncrunch
*ncrunch*
*crunch*.local.xml

# visual studio database projects
*.dbmdl

#Test files
*.testsettings
lib/ImsInformed/System.Data.SQLite.dll
lib/ImsInformed/System.Data.SQLite.xml
lib/ImsInformed/UIMFLibrary.dll
lib/ImsInformed/UIMFLibrary.pdb
lib/ImsInformed/x64/SQLite.Interop.dll
lib/ImsInformed/x86/SQLite.Interop.dll
lib/ImsInformed/MathNet.Numerics.xml
lib/ImsInformed/QuickGraph.Data.dll
lib/ImsInformed/QuickGraph.Data.xml
lib/ImsInformed/QuickGraph.Graphviz.dll
lib/ImsInformed/QuickGraph.Graphviz.xml
lib/ImsInformed/QuickGraph.Serialization.dll
lib/ImsInformed/QuickGraph.Serialization.xml
lib/ImsInformed/QuickGraph.dll
lib/ImsInformed/QuickGraph.xml
*.dgml
lib/FalkorSDK/MathNet.Filtering.dll
lib/FalkorSDK/MathNet.Filtering.xml
lib/FalkorSDK/OxyPlot.Wpf.xml
lib/FalkorSDK/OxyPlot.Xps.dll
lib/FalkorSDK/OxyPlot.Xps.pdb
lib/FalkorSDK/OxyPlot.xml
lib/FalkorSDK/QuickGraph.Data.dll
lib/FalkorSDK/QuickGraph.Data.xml
lib/FalkorSDK/QuickGraph.Graphviz.dll
lib/FalkorSDK/QuickGraph.Graphviz.xml
lib/FalkorSDK/QuickGraph.Serialization.dll
lib/FalkorSDK/QuickGraph.Serialization.xml
lib/FalkorSDK/QuickGraph.dll
lib/FalkorSDK/QuickGraph.xml
lib/FalkorSDK/Xceed.Wpf.AvalonDock.Themes.Aero.dll
lib/FalkorSDK/Xceed.Wpf.AvalonDock.Themes.Metro.dll
lib/FalkorSDK/Xceed.Wpf.AvalonDock.Themes.VS2010.dll
lib/FalkorSDK/Xceed.Wpf.AvalonDock.dll
lib/FalkorSDK/Xceed.Wpf.DataGrid.dll
lib/FalkorSDK/Xceed.Wpf.Toolkit.dll
lib/FalkorSDK/de/Xceed.Wpf.AvalonDock.resources.dll
lib/FalkorSDK/es/Xceed.Wpf.AvalonDock.resources.dll
lib/FalkorSDK/fr/Xceed.Wpf.AvalonDock.resources.dll
lib/FalkorSDK/hu/Xceed.Wpf.AvalonDock.resources.dll
lib/FalkorSDK/it/Xceed.Wpf.AvalonDock.resources.dll
lib/FalkorSDK/pt-BR/Xceed.Wpf.AvalonDock.resources.dll
lib/ImsInformed/OxyPlot.Wpf.dll
lib/ImsInformed/OxyPlot.Wpf.pdb
lib/ImsInformed/OxyPlot.Wpf.xml
lib/ImsInformed/OxyPlot.Xps.dll
lib/ImsInformed/OxyPlot.Xps.pdb
lib/ImsInformed/OxyPlot.dll
lib/ImsInformed/OxyPlot.pdb
lib/ImsInformed/OxyPlot.xml
lib/FalkorSDK/MathNet.Numerics.dll
lib/FalkorSDK/MathNet.Numerics.xml
lib/FalkorSDK/MathNet.Spatial.dll
lib/FalkorSDK/MathNet.Spatial.xml
lib/FalkorSDK/zh-Hans/Xceed.Wpf.AvalonDock.resources.dll
lib/ImsInformed/MathNet.Numerics.dll
lib/FalkorSDK/System.Data.SQLite.dll
lib/FalkorSDK/System.Data.SQLite.xml
lib/FalkorSDK/UIMFLibrary.dll
lib/FalkorSDK/UIMFLibrary.pdb
lib/FalkorSDK/ro/Xceed.Wpf.AvalonDock.resources.dll
lib/FalkorSDK/ru/Xceed.Wpf.AvalonDock.resources.dll
lib/FalkorSDK/sv/Xceed.Wpf.AvalonDock.resources.dll
lib/FalkorSDK/x64/SQLite.Interop.dll
lib/FalkorSDK/x86/SQLite.Interop.dll
lib/FalkorSDK/Splat.dll
lib/FalkorSDK/Splat.pdb
