<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.0.0-alpha-5" targetFramework="net451" />
  <package id="OxyPlot.Core" version="2015.1.781-alpha" targetFramework="net451" />
  <package id="OxyPlot.Wpf" version="2015.1.781-alpha" targetFramework="net451" />
</packages>